body{
    background-color: #d0d8dcff;
    
}

@media (min-width: 768px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
        }
    }
    
    .form-flex{    
        display: flex;
        justify-content: center;
        margin: 3rem 0rem 3rem 0rem;
    }
    
    .form-class{    
        padding: 3rem 3rem 5rem 3rem;
        background-color: white;
    }
    
#logo_cear {
    margin-left: 35%;
    margin-top: -10px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -209%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: center;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

button, input, optgroup, select, textarea {
    margin: 5px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

img#help {
    vertical-align: middle;
    border-style: none;
    margin-right: 17px;
}

#btn-login {
    margin-left: 35%
}

/* Configurar movimento*/
div#movement-type {
    border: 1px solid #000;
    padding-bottom: 6%;
}

div#table-control {
    display: table-cell;
    width: 30%;
}

input#move_type-1 {
    margin-top: 0%;
}

label#x-label{
    margin-left: 6%;
}

label#y-label{
    margin-left: 44%;
}

input#x-axis  {
    margin-left: 6%;
    width: 31%;
}

input#y-axis {
    width: 31%;
    margin-left: 15%
}

input#import-trajectory {
    margin-left: 5%;
    width: 95%;
}

/* Iniciar envio para a mesa */
div#start-movement {
    border: 1px solid #000;
    padding-bottom: 6%;
}

label#table-status {
    margin-left: 5%;
}

button#start-btn {
    margin-left: 5%;
    padding: 3%;
    width: 44%;
}

button#stop-btn {
    margin-left: 0%;
    padding: 3%;
    width: 44%;
}

div#grafico {
    display: table-cell;
    width: 50%;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -1%;
}

div#cabecalho {
    text-align: center;
    width: 50%;
    margin-left: 11%;
}

div#ajuda {
    margin-left: 4%;
    margin-right: 4%;
}