{% extends "base_login.html" %}
{% block content %}
<body>
    <div class= "form-flex">
        <div class="form-class">
            <form method="POST">
                <h5>Digite o e-mail para recuperar a senha</h5>
                <br>
                {{ form.hidden_tag() }}
                {{ form.email.label }}</br>
                {% if form.email.errors %}
                        {{ form.email(class="is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email }}
                    {% endif %}
                <br>
                {{ form.submit }} 
            </form>
        <a href="{{ url_for('login') }}">Voltar</a>
        </div>
    </div>
</body>
{% endblock %}