{% extends "base.html" %}
{% block navbar_config %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img src={{ url_for("static", filename="config_icon.png") }} width="25" height="25" alt="">
        </a>
        <div class="dropdown-menu">
            <form action={{ url_for("home") }} method="POST">
                {{ configure_form.hidden_tag() }}
                <li>
                    <div class="menu-item">
                        {{ configure_form.port.label }} 
                    </div>
                    {{ configure_form.port }}
                </li>
                <li>
                    <div class="menu-item">
                        {{ configure_form.baudrate.label }}
                    </div>
                    {{ configure_form.baudrate }}
                </li>
                <div class="dropdown-divider"></div>
                <button class="btn menu-item">Calibrar</button>
                {{ configure_form.configure_submit }}
            </form>
        </div>
    </li>
{% endblock navbar_config %}
{% block content %}
<body>
    <div id="table-control" class="container">
        <br>
        <br>
        <form action={{ url_for("home") }} method="POST" enctype="multipart/form-data">
                {{ move_form.hidden_tag() }}
                <h6>Selecione o tipo de movimento:</h6>
                <div id="movement-type" class="container">
                    <input type="radio" name="move_type" value=0 checked>
                    <label for="point">Digitar ponto:</label>
                    <br>
                    <label id="x-label">X:</label>
                    <label id="y-label">Y:</label>
                    <br>
                    {{ move_form.x_axis }}
                    {{ move_form.y_axis }}
                    <br>
                    <br>
                    <input type="radio" name="move_type" value=1>
                    <label for="trajectory">Importar trajetória:</label>
                    <br>
                    {{ move_form.trajectory }}
                </div>
                <br>
                <h6>Iniciar envio para a mesa:</h6>
                <div id="start-movement" class="container">
                    <br>
                    <label id="table-status" for="">Status da mesa:</label>
                    <br>
                    {{ move_form.control_submit }}
                    <button id="stop-btn">Parar</button>
                </div>
        </form>
    </div>
</body>
{% endblock content %}