{% extends "base_login.html" %}
{% block content %}
    <div>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Login</legend>
                <div>
                    {{ form.reg_number.label }}
                    {% if form.reg_number.errors %}
                        {{ form.reg_number(class="is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.reg_number.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.reg_number }}
                    {% endif %}
                </div>
                <div>
                    {{ form.password.label }}
                    {% if form.password.errors %}
                        {{ form.password(class="is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password }}
                    {% endif %}
                </div>
            </fieldset>
            <div>
                {{ form.submit }}
            </div>
            <small>
                <a href="{{ url_for('forgot') }}">Esqueceu a senha?</a>
            </small>
        </form>
    </div>
{% endblock %}