{% extends "base.html" %}
{% block content %}
<body>
    <div class="card">
        <div class="card-body">
            <h5>Usuários cadastrados</h5>
            <a href={{ url_for("download_users") }} target="_blank">Baixar esta tabela</a>    
            <div class="mt-4">
                <table id="proxies" class="display table nowrap responsive" style="width: 100%">
                <thead>
                    <tr>
                        <th>Matrícula</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Especial</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user[0] }}</td>
                        <td>{{ user[1] }}</td>
                        <td>{{ user[2] }}</td>
                        <td>{{ user[3] }}</td>
                        <td>{{ user[4] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    $('#proxies').DataTable();
</script>
{% endblock content %}